.DesedaTableShow{
    font-family: 'Montserrat';
    font-style: normal;
}

.TableTituloRow{
    background-color: #A6A6A7;
    padding-top: 100px;
}

.ComparativeAnalysis{
    font-size: 24px;
    color: #01172C ;
}

.TableTitulo{
    color: #01172C ;
}

.DesedaTable{
    width: 100%;
}

.ProductImage{
 height: 100px;
}

td {
    text-align: center;
    padding : 15px  0px 15px 15px;
    font-size: 20px;
}

th { 
    padding : 23px 0px  23px 0px;
    font-size: 20px;
    font-weight: bold;
}


table {
    border-collapse: collapse;
}

.PersistancePositive{
    color: #23B794 ;
    font-weight: bold;

}


.PersistanceNegative{
    color: #D6215B ;
    font-weight: bold;
}